/* body {
    font-family: 'Handlee', cursive;
}

.btn-outline-secondary {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding: 0.15rem 0.25rem;
}

.btn-sm {
    font-size: 0.6rem; 
} */

.eigenschaftcard {
    padding-left: 2px; 
    padding-right: 2px; 
}

.card-body {
    padding: .75rem 1.25rem;
}

p {
    margin-bottom: 0.2rem; 
}

.no-style {
    color: #212529; 
    transition: none; 
    text-decoration: none; 
}

.no-style:hover {
    color: #212529; 
    text-decoration: none; 
}

.no-style:focus {
    text-decoration: none; 
}

.accordion {
   -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto; 
}